body {
  background-color: #1b2845 !important;
}

#ratedScreen {
  background-color: #1b2845;
}

#authScreen {
  background-color: #1b2845;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
